<!-- TODO: I don't know yet if I am going to use a modal for this -->

<button id="parse-receipt-button"
        class="btn btn-medium btn-block btn-primary"
        data-toggle="modal">
  Parse Receipt
</button>