<!-- TODO: probably don't want this to be a modal???? -->

<button id="show-envelope-order-button"
        class="btn btn-medium btn-block btn-primary"
        data-toggle="modal">
  Show Envelope Order: Coming Soon!
</button>