<!-- <ul class="nav nav-pills nav-stacked">
  <li class="active">
    <a href="#">Home</a>
  </li>
  <li><a href="#">...</a></li>
  <li><a href="#">...</a></li>
</ul> -->

<!-- or -->

<!-- <div class="btn-group btn-group-vertical">
  ...
</div> -->

<div id="projections-five-days-div">
  
</div>
<div id="projections-ten-days-div">
  
</div>
<div id="projections-two-weeks-div">
  
</div>
<div id="projections-one-month-div">
  
</div>
<div id="projections-three-months-div">
  
</div>
<div id="projections-six-months-div">
  
</div>
<div id="projections-one-year-div">
  
</div>
<div id="projections-five-years-div">
  
</div>
<br>
