<!-- <ul class="nav nav-pills nav-stacked">
  <li class="active">
    <a href="#">Home</a>
  </li>
  <li class="active"><a href="#">5 Days</a></li>
  <li><a href="#">Ten Days</a></li>
</ul> -->

<!-- or -->

<!-- <div class="btn-group btn-group-vertical">
  ...
</div> -->

<div id="history-five-days-div">
  
</div>
<div id="history-ten-days-div">
  
</div>
<div id="history-two-weeks-div">
  
</div>
<div id="history-one-month-div">
  
</div>
<div id="history-three-months-div">
  
</div>
<div id="history-six-months-div">
  
</div>
<div id="history-one-year-div">
  
</div>
<div id="history-all-div">
  
</div>
<br>
