<!-- Note: removed the "fade" class from the modal to avoid the scroll bug and keep it consistent... -->

<div id="modal-create-budget" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Create Budget</h3>
  </div>
  <div class="modal-body">
    <div class="control-group form-horizontal">
      <label class="control-label">Budget Name:</label>
      <div class="controls">
        <input type="text" placeholder="Budget Name" class="save-budget-name" />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="submit-budget" class="btn btn-primary" data-dismiss="modal">Ok</button>
  </div>
</div>