<div id="side-bar-and-tabs" class="row">
  <div id="budget-side-bar" class="span3 affix">      
  </div>
  
  <!-- NOTE: if this was a span6, the span6 envelopes don't quite fit... 
    We will probably want to fix this at some point -->
  <div id="budget-tabs" class="span9 offset3">
  </div>
  
  <div id="my-modal">
  </div>
</div>