<div id="side-bar-constants">
  <!-- This is where everything that doesn't change between tabs will go -->
</div>
<div id="side-bar-variables">
  <!-- This is where the buttons go that vary depending on the selected tab -->
</div>
