<div id="selected-budget">
  
</div>
<br>
<div id="create-new-budget-div">
  
</div>
<br>
<div id="remove-selected-budget-div">
  
</div>
<br>

<!-- TODO: add a dividing line here to make a nice division between constant and variable parts -->


<div class="controls budget-dropdown">
</div>
<div class="budget-side-bar-buttons">
  
</div>